node_modules
dist
.DS_Store
*.log
.env
.env.local
server/data.json
server/serviceAccountKey.json
.vercel
"serviceAccountKey.json" 
"serviceAccountKey.json" 
"serviceAccountKey.json" 
"serviceAccountKey.json" 
"serviceAccountKey.json" 
"serviceAccountKey.json" 
"serviceAccountKey.json" 
"serviceAccountKey.json" 
"serviceAccountKey.json" 
